.question {
    font-size: large;
    font-weight: bold;
    color: green;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}
summary {
    color: black;
    font-weight: bold;
}