.question {
    font-size: large;
    font-weight: bold;
    color: green;
    width: 80%;
    padding:0 5%;
}
.answer {
    background-color: cyan;;
}
.term {
    color:green;
}

nav li {
    display: inline;
    list-style: ;
    float:right;
}
nav a {
    text-decoration: none;
    text-align:center;
    display: block;
    background-color: green;
    color: white;
    padding: 12px;
}

tr>td {
    color:lightred;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    background-color: yellow;
    color:black;
}
a:active {
    background-color: yellow;    
}
table, caption {
    border: 2px solid blue;
}

ul {
    list-style-type: none;;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}
h1 {
    color: white;
    background-color: green;
    letter-spacing:10px;
    text-align: center;
    opacity: 75%;

}
h2 {
    background-color: cyan;
    border-color: red;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    margin-left: 20px ; 
    padding-left: 25px;
    box-shadow: 0px 0px 30px #1A237E;
}
h3 {
    padding: 20px;
    margin: 20px 10px;
}
summary {
    color: black;
    font-weight: bold;
}
p {
    margin: 30px;
}