
nav {
    background-color: aqua;
    height: 5vh;
    width: 75%;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;;
}
ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
}
a {
    border: 1px solid black;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background-color: #2c3e57;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:focus {
    color: yellow;
}
a:hover {
    background-color: yellow;
    color:black;
}
a:ative {
    color:red;
}