*{
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: cyan;
    padding: 20px;
}
body {
    padding: 25px;
}
h1 {
    font-size: 60px;
}
#name {
    color: blue;
}
#week {
    color:green;
}